<div data-controller="home">
  <%= render "pages/cursor" %>

  <div id="site-layer" data-home-target="siteLayer">
    <%= render "pages/home_nav" %>
    <%= render "pages/hero" %>
    <%= render "pages/services" %>
    <%= render "pages/manifesto" %>
    <%= render "pages/pcrh" %>
    <%= render "pages/formation" %>
    <%= render "pages/trust_band" %>
    <%= render "pages/ai_section" %>
    <%= render "pages/cta" %>
    <%= render "pages/footer" %>
  </div>

  <%= render "pages/login_modal" %>
</div>
